# See http://code.google.com/p/soar/wiki/soar2dcnf
general.game = "taxi";
general.map = "config/maps/taxi/default.txt";
#players.active_players = [ "human" ];
#players.human.name = human;
terminals.passenger_delivered = true;
terminals.fuel_remaining = true;
