<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/soar-soar2d/src/main/java/edu/umich/soar/gridmap2d/Gridmap2D.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="${workspace_loc}/../trunk/SoarSuite/SoarLibrary/bin"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.umich.soar.gridmap2d.Gridmap2D"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="config/tanksoar.cnf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="soar-soar2d"/>
</launchConfiguration>
