driver
(
  name "roomba"
  provides ["position2d:0"]
  port "/dev/ttyS2"
  safe 1
  alwayson 1
)
driver
(
  name "urglaser"
  provides ["laser:0"]
  port "/dev/ttyS0"
  #port "/dev/ttyACM0"
  pose [0.05 0.0 0.0]
  min_angle -115.0
  max_angle 115.0
  use_serial 1
  baud 115200
  alwayson 0
)
driver
(
  name "vfh" 
  provides ["position2d:1"]
  requires ["position2d:0" "laser2d:0"]
  cell_size 0.1 
  window_diameter 61
  sector_angle 1
  safety_dist 0.3
  max_speed 0.3
  max_turnrate_0ms 50
  max_turnrate_1ms 30
)

