<p>**stats table**</p>

<p><strong>Wimpy Wins</strong>: Wins achieved by reaching the maximum updates instead of the winning score.</p>
<p><strong>Wimpy Win %</strong>: Percentage of total wins that were wimpy.</p>
<p><strong>SNC Losses</strong>: Number of losses due to the agent being interrupted.</p>
<p><strong>Average Points</strong>: Average number of points scored in a match</p>
<p><strong>Average Ladder Points</strong>: Average number of ladder points scored per match:</p>
<center><table border="1">
<tr><td>Condition</td><td>Ladder points</td></tr>
<tr><td>Win a match</td><td>2 points</td></tr>
<tr><td>Draw a match</td><td>1 point</td></tr>
<tr><td>Lose a match</td><td>0 points</td></tr>
<tr><td>Achieve winning score<br />(win or lose)</td><td>1 point</td></tr>
</table></center>
<p><strong>Rating</strong>: Tank rating (using <a href="http://en.wikipedia.org/wiki/ELO_rating_system">Elo rating system</a>).
