
# Desc: Player sample configuration file for controlling Gazebo devices
# Date: 18 Apr 2003
# CVS: $Id: gazebo.cfg 2773 2005-04-15 18:08:24Z gerkey $

driver
(
  name "gz_sim"
  provides ["simulation:0"]
  alwayson 1
)

driver
(
  name "gz_position"
  provides ["position:0"]
  gz_id "robot1"
)

driver
(
  name "gz_laser"
  provides ["laser:0"]
  gz_id "laser1"
)

driver
(
  name "gz_sonar"
  provides ["sonar:0"]
  gz_id "sonar1"
)

driver
(
  name "gz_gripper"
  provides ["gripper:0"]
  gz_id "gripper1"
)

driver
(
  name "gz_camera"
  provides ["camera:0"]
  gz_id "camera1"
)

#driver
#(
#  name "gz_stereo"
#  provides ["left_disparity::camera:1"]
#  gz_id "stereo1"
#)
