# RFID Interface example
# Radu Bogdan Rusu (rusu@cs.tum.edu) - 2006

driver
(
  name "insideM300"
  provides ["rfid:0"]
  port "/dev/ttyS0"
  speed 9600
)

driver
(
  name "skyetekM1"
  provides ["rfid:1"]
  port "/dev/ttyS1"
  speed 9600
)

driver
(
  name "sickrfi341"
  provides ["rfid:0"]
  port "/dev/ttyUSB0"
  connect_rate 9600
  transfer_rate 115200
)
