[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

# no particular reason, just specifying how our files are currently formatted
[*.soar]
indent_size = 3
