# See http://code.google.com/p/soar/wiki/Soar2D
general.game = "tanksoar";
general.map = "soar2d/config/maps/tanksoar/default.txt";
#players.active_players = [ "tank1", "tank2" ];
#players.tank1.productions = "soar2d/agents/tanksoar/obscure-bot.soar";
#players.tank2.productions = "soar2d/agents/tanksoar/obscure-bot.soar";
terminals.winning_score = 50;
