# See http://code.google.com/p/soar/wiki/Soar2D
general.game = "taxi";
general.map = "soar2d/config/maps/taxi/default.txt";
#players.active_players = [ "human" ];
#players.human.name = human;
terminals.passenger_delivered = true;
terminals.fuel_remaining = true;
