<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>vs.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.umich.soar.VisualSoar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VisualSoar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/VisualSoar.jar</string>
			<string>/Applications/Soar-8.6.2/soar-library/sml.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.4*</string>
		<key>MainClass</key>
		<string>edu.umich.visualsoar.VisualSoar</string>
		<key>VMOptions</key>
		<string>-Xmx512m -Djava.library.path=/Applications/Soar-8.6.2/lib:/Applications/Soar-8.6.2/soar-library</string>
		<key>WorkingDirectory</key>
		<string>/Applications/Soar-8.6.2/soar-library</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
	<key>LSEnvironment</key>
	<dict>
		<key>DYLD_LIBRARY_PATH</key>
		<string>/Applications/Soar-8.6.2/lib</string>
		<key>LD_LIBRARY_PATH</key>
		<string>/Applications/Soar-8.6.2/lib</string>
	</dict>
</dict>
</plist>
