# See http://winter.eecs.umich.edu/soarwiki/Environments/Soar2D/Configuration_File_Format
general.game = "taxi";
general.map = "maps/taxi/default.xml";
#players.active_players = [ "eater" ];
#players.eater.productions = "agents/eaters/tutorial/advanced-move.soar";
terminals.passenger_delivered = true;
terminals.fuel_remaining = true;
