<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- Soar Perspective -->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			name="Soar Perspective"
			icon="icons/soar.gif"
			class="edu.rosehulman.soar.perspective.SoarPerspectiveFactory"
			id="edu.rosehulman.soar.perspective.SoarPerspectiveFactory">
		</perspective>
	</extension>


   <!-- Soar Project Nature -->
   
   <extension
      point="org.eclipse.core.resources.natures"
      id="natures.SoarProjectNature"
      name="Soar Project Nature">
      <runtime>
         <run class="edu.rosehulman.soar.natures.SoarProjectNature">
         </run>
      </runtime>
   </extension>
   
	<extension
		point="org.eclipse.ui.ide.projectNatureImages">
		<image
			id="edu.rosehulman.soar.natures.SoarProjectNatureImage"
			natureId="edu.rosehulman.soar.natures.SoarProjectNature"
			icon="icons/soarOverlay.gif">
		</image>
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
		<factory id="edu.rosehulman.soar.datamap.editor.DatamapInputFactory"
			class="edu.rosehulman.soar.datamap.editor.DatamapInputFactory" /> 
	</extension>
	
	
	<!-- Soar File Marker -->
	
	<extension
		id="SoarFile"
		point="org.eclipse.core.resources.markers"
		name="%SoarOperatorName">
		<super type="org.eclipse.core.resources.marker"/>
		<persistent value="true" />
		<attribute name="type" />
	</extension>
	
	<extension
		id="DatamapProblem"
		point="org.eclipse.core.resources.markers"
		name="%dmproblemName">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true" />
	</extension>
	
	
	<!-- Incremental builder to handle the sourcing file -->
	
	<extension
		id="sourcing.SourcingBuilder"
		name="Soar Sourcing Builder"
		point="org.eclipse.core.resources.builders">
		<builder>
			<run
				class="edu.rosehulman.soar.sourcing.SourcingBuilder">
				<parameter name="optimize" value="true" />
			</run>
		</builder>
	</extension>


	<!-- Navigator -->
	
	<extension point="org.eclipse.ui.views">
		<category 
			id="edu.rosehulman.soar.views"
			name="Soar" />
		<view 
			id="edu.rosehulman.soar.navigator.SoarNavigator"
			name="Soar Navigator"
			icon="icons/soar.gif"
			category="edu.rosehulman.soar.views"
			class="edu.rosehulman.soar.navigator.SoarNavigator" />
	</extension>

	<!-- Decorators -->
	
	<extension point="org.eclipse.ui.decorators"> 
		<decorator
			id="edu.rosehulman.soar.navigator.SoarErrorDecorator" 
			label="Soar error" 
			state="true" 
			class="edu.rosehulman.soar.navigator.SoarErrorDecorator" 
			lightweight="true" 
			location="BOTTOM_LEFT">
			<enablement>
				<and>
					<pluginState id="edu.rosehulman.soar" value="activated"/>
					<objectClass name="org.eclipse.core.resources.IResource"/> 
				</and>
			</enablement> 
		</decorator>
	</extension>
	
	<extension point="org.eclipse.ui.decorators"> 
		<decorator
			id="edu.rosehulman.soar.navigator.SoarLightweightDecorator" 
			label="Soar file types" 
			state="true" 
			class="edu.rosehulman.soar.navigator.SoarLightweightDecorator" 
			lightweight="true" 
			location="TOP_LEFT">
			<enablement>
				<and>
					<pluginState id="edu.rosehulman.soar" value="activated"/>
					<objectClass name="org.eclipse.core.resources.IResource"/> 
				</and>
			</enablement> 
		</decorator>
	</extension>
	
	
	  

   <!-- DataMap plugin -->

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="DataMap Editor"
            filenames="datamap.xml"
            icon="icons/soar.gif"
            class="edu.rosehulman.soar.datamap.DataMapEditor"
            id="edu.rosehulman.soar.datamap.DataMapEditor">
      </editor>
   </extension>
   
   <!-- This import tool doesn't really work that well.
   
   <extension
		point="org.eclipse.ui.editorActions">
		<editorContribution
		 	targetID="edu.rosehulman.soar.datamap.DataMapEditor"
			id="edu.rosehulman.soar.datamap.menus">
			<menu
				id="Datamap"
				label="&amp;Datamap">
				<separator name="group1"/>
				<separator name="group2"/>
			</menu>
			<action
				id="edu.rosehulman.soar.datamap.actions.ImportFromVS"
				label="&amp;Import from Visual Soar"
	            menubarPath="Datamap/group2"
	            tooltip="Imports a datamap file saved in the visual soar format."
	            helpContextId="edu.rosehulman.soar.datamap.actions.ImportFromVS_action_context"
	            class="edu.rosehulman.soar.datamap.actions.ImportFromVS">
	         </action>
			
		</editorContribution>

	</extension> -->
	
	<!-- Wizards Plugin -->
	
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Soar"
            id="edu.rosehulman.soar.wizards">
      </category>
      <wizard
            name="Soar Project"
            icon="icons/soar.gif"
            category="edu.rosehulman.soar.wizards"
            class="edu.rosehulman.soar.wizards.NewProjectWiz"
            id="edu.rosehulman.soar.wizards.NewProjectWiz"
            project="true">
         <description>
            Create a new SOAR project.
         </description>
      </wizard>
   </extension>
	
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Soar"
            id="edu.rosehulman.soar.wizards">
      </category>
      <wizard
            name="Add Impasse"
            icon="icons/soarFile.gif"
            category="edu.rosehulman.soar.wizards"
            class="edu.rosehulman.soar.wizards.AddImpasseWiz"
            id="edu.rosehulman.soar.wizards.AddImpasseWiz">
         <description>
            Add a Soar impasse.
         </description>
      </wizard>
   </extension>
   
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Soar"
            id="edu.rosehulman.soar.wizards">
      </category>
      <wizard
            name="Add File"
            icon="icons/soarFile.gif"
            category="edu.rosehulman.soar.wizards"
            class="edu.rosehulman.soar.wizards.AddFileWiz"
            id="edu.rosehulman.soar.wizards.AddFileWiz">
         <description>
            Add a Soar file.
         </description>
      </wizard>
   </extension>

	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Soar"
            id="edu.rosehulman.soar.wizards">
      </category>
      <wizard
            name="Add Suboperator"
            icon="icons/soarFile.gif"
            category="edu.rosehulman.soar.wizards"
            class="edu.rosehulman.soar.wizards.AddSuboperatorWiz"
            id="edu.rosehulman.soar.wizards.AddSuboperatorWiz">
         <description>
            Add a Soar suboperator.
         </description>
      </wizard>
   </extension>

	<!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Soar"
            id="edu.rosehulman.soar.wizards">
      </category>
      <wizard
            name="Soar File"
            icon="icons/soar.gif"
            category="edu.rosehulman.soar.wizards"
            class="edu.rosehulman.soar.wizards.AddFileWiz"
            id="edu.rosehulman.soar.wizards.AddFileWiz">
         <description>
            Create a new SOAR file.
         </description>
      </wizard>
   </extension> -->
   

  
  <!-- Add the top-level menu items to files -->
  
  

  

	<!-- Parse the file -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="edu.rosehulman.soar.wizards.parsefile.file"
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.soar">
			<filter
				name="projectNature"
				value="edu.rosehulman.soar.natures.SoarProjectNature">
			</filter>
			<action
				id="edu.rosehulman.soar.wizards.InvokeParseFile.file"
				label="Check Productions"
				icon="icons/soar.gif"
				menubarPath="end"
				class="edu.rosehulman.soar.wizards.actions.InvokeParseFile"
				enablesFor="1">
			</action>
		</objectContribution>
	</extension>
  
  
  
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addsuboperatormenu.file"
		  objectClass="org.eclipse.core.resources.IFile"
		  nameFilter="*.soar">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddSuboperatorMenuAction.file"
			  label="Add Suboperator..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddSuboperatorWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addfilemenu.file"
		  objectClass="org.eclipse.core.resources.IFile"
		  nameFilter="*.soar">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddFileMenuAction.file"
			  label="Add File..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddFileWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addimpassemenu.file"
		  objectClass="org.eclipse.core.resources.IFile"
		  nameFilter="*.soar">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddImpasseMenuAction.file"
			  label="Add Impasse..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddImpasseWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>

  <!-- We have to add the menu to folders, too -->
  
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="edu.rosehulman.soar.datamap.invoker"
			objectClass="org.eclipse.core.resources.IContainer">
			<filter
				name="projectNature"
				value="edu.rosehulman.soar.natures.SoarProjectNature">
			</filter>
			<action
				id="edu.rosehulman.soar.datamap.DataMapInvoker"
				label="Open Datamap"
				icon="icons/soar.gif"
				menubarPath="datamap"
				class="edu.rosehulman.soar.datamap.DataMapInvoker"
				enablesFor="1">
			</action>
		</objectContribution>
	</extension>
  
  
  
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addsuboperatormenu.folder"
		  objectClass="org.eclipse.core.resources.IFolder">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddSuboperatorMenuAction.folder"
			  label="Add Suboperator..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddSuboperatorWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addfilemenu.folder"
		  objectClass="org.eclipse.core.resources.IFolder">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddFileMenuAction.folder"
			  label="Add File..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddFileWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addimpassemenu.folder"
		  objectClass="org.eclipse.core.resources.IFolder">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddImpasseMenuAction.folder"
			  label="Add Impasse..."
			  icon="icons/soarFile.gif"
			  menubarPath="end"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddImpasseWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  
    <!-- Menu item for the Sourcing File Generator -->
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.sourcing.generatesourcingfile.project"
		  objectClass="org.eclipse.core.resources.IProject">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.sourcing.generatesourcingfile.project"
			  label="Generate Sourcing File"
			  icon="icons/soar.gif"
			  menubarPath="start"
			  class="edu.rosehulman.soar.wizards.actions.InvokeGenerateSourcingFile"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  

  <!-- And Wizards to the project itself -->
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addsuboperatormenu.project"
		  objectClass="org.eclipse.core.resources.IProject">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddSuboperatorMenuAction.project"
			  label="Add Suboperator..."
			  icon="icons/soarFile.gif"
			  menubarPath="start"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddSuboperatorWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addfilemenu.project"
		  objectClass="org.eclipse.core.resources.IProject">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddFileMenuAction.project"
			  label="Add File..."
			  icon="icons/soarFile.gif"
			  menubarPath="start"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddFileWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
		  id="edu.rosehulman.soar.wizards.addimpassemenu.project"
		  objectClass="org.eclipse.core.resources.IProject">
		  <filter
			  name="projectNature"
			  value="edu.rosehulman.soar.natures.SoarProjectNature">
		  </filter>
		  <action
			  id="edu.rosehulman.soar.wizards.AddImpasseMenuAction.project"
			  label="Add Impasse..."
			  icon="icons/soarFile.gif"
			  menubarPath="start"
			  class="edu.rosehulman.soar.wizards.actions.InvokeAddImpasseWizardActionDelegate"
			  enablesFor="1">
		  </action>
	  </objectContribution>
  </extension>
  
  

  
  
  
  <!-- Soar File Editor -->
  
  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Soar Editor"
            extensions="soar"
	    icon="icons/soarFile.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.rosehulman.soar.editor.SoarEditor"
            id="edu.rosehulman.soar.editor.SoarEditor">
      </editor>
   </extension>

	
	<!-- Menus for the Soar File Editor -->
	
	<extension
		point="org.eclipse.ui.editorActions">
		<editorContribution
		 	targetID="edu.rosehulman.soar.editor.SoarEditor"
			id="edu.rosehulman.soar.menus">
			<menu
				id="Soar"
				label="&amp;Soar">
				<separator name="group1"/>
				<separator name="group2"/>
			</menu>
			<action
				id="edu.rosehulman.soar.editor.menus.UncommentBlockAction"
				label="&amp;Uncomment Out"
	            menubarPath="Soar/group2"
	            tooltip="Uncomments a block of text"
	            helpContextId="edu.rosehulman.soar.editor.menus.uncomment_action_context"
	            class="edu.rosehulman.soar.editor.menus.UncommentBlockAction">
	         </action>
			<action
				id="edu.rosehulman.soar.editor.menus.CommentBlockAction"
				label="&amp;Comment Out"
	            menubarPath="Soar/group2"
	            tooltip="Comments out the selected block of text"
	            helpContextId="edu.rosehulman.soar.editor.menus.comment_action_context"
	            class="edu.rosehulman.soar.editor.menus.CommentBlockAction">
	         </action>
			<action
				id="edu.rosehulman.soar.menus.ProposeOperatorTemplate"
				label="&amp;propose operator"
	            menubarPath="Soar/group1"
	            tooltip="template for propose ooperator"
	            helpContextId="edu.rosehulman.soar.editor.menus.run_action_context"
	            class="edu.rosehulman.soar.editor.menus.ProposeOperatorTemplate">
	         </action>
			<action
				id="edu.rosehulman.soar.menus.ElaborateSubstateTemplate"
				label="e&amp;laborate substate"
	            menubarPath="Soar/group1"
	            tooltip="template for elaborate substate"
	            helpContextId="edu.rosehulman.soar.editor.menus.run_action_context"
	            class="edu.rosehulman.soar.editor.menus.ElaborateSubstateTemplate">
	         </action>
			<action
				id="edu.rosehulman.soar.menus.ElaborateStateTemplate"
				label="&amp;elaborate state"
	            menubarPath="Soar/group1"
	            tooltip="template for elaborate state"
	            helpContextId="edu.rosehulman.soar.editor.menus.run_action_context"
	            class="edu.rosehulman.soar.editor.menus.ElaborateStateTemplate">
	         </action>
			<action
				id="edu.rosehulman.soar.menus.CompareOperatorTemplate"
				label="&amp;compare operator"
	            menubarPath="Soar/group1"
	            tooltip="template for compare operator"
	            helpContextId="edu.rosehulman.soar.editor.menus.run_action_context"
	            class="edu.rosehulman.soar.editor.menus.CompareOperatorTemplate">
	         </action>
			<action
				id="edu.rosehulman.soar.menus.ApplyTemplate"
				label="&amp;apply"
	            menubarPath="Soar/group1"
	            tooltip="template for apply"
	            helpContextId="edu.rosehulman.soar.editor.menus.run_action_context"
	            class="edu.rosehulman.soar.editor.menus.ApplyTemplate">
	         </action>
			
		</editorContribution>
	</extension>

</plugin>
