# See http://winter.eecs.umich.edu/soarwiki/Environments/Soar2D/Configuration_File_Format
general.game = "room";
general.map = "config/maps/room/default.txt";
#players.active_players = [ "robot" ];
#players.robot.productions = "agents/room/robot-template.soar";
