# See http://code.google.com/p/soar/wiki/soar2dcnf
general.game = "room";
general.map = "config/maps/room/default.txt";
#players.active_players = [ "robot" ];
#players.robot.productions = "agents/room/robot-template.soar";
