# See http://winter.eecs.umich.edu/soarwiki/Environments/Soar2D/Configuration_File_Format
general.game = "eaters";
general.map = "config/maps/eaters/random-walls.txt";
general.headless = true;
soar.spawn_debuggers = false;
players.active_players = [ "eater" ];
players.eater.productions = "agents/eaters/tutorial/advanced-move.soar";
terminals.food_remaining = true;
